body,   header{ 
    background: rgb(3, 17, 31);
    color: #ffffff;
} 

nav{
    background-color: 
    #2a3440;
}
.button1{ 
    background: #2f363e;
    height: 50px; 
    width: 300px;
    color: #ffffff;
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

.button1:hover{ 
    background-color:#ffffff;
    transition: 0.7s;
}

.button1:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #ffffff;
}

